CompileFlags:
  Add:
    - -ID:/Projects/GameProjects/P2DME/Game
    - -ID:/Projects/GameProjects/P2DME/Game/Include
    - -ID:/Projects/GameProjects/P2DME/Core/Include
    - -ID:/Projects/GameProjects/P2DME/Engine/Include
    - -ID:/Projects/GameProjects/P2DME/SubModules/Platforms/Platform_Windows/Include
    - -std=c++17
    - -DWIN32
    - -D_DEBUG
    - -Wall
    - -Wextra

Diagnostics:
  UnusedIncludes: None