BasedOnStyle: LLVM

ColumnLimit: 0
UseTab: Never
TabWidth: 4
IndentWidth: 4
IndentCaseLabels: false

SortIncludes: CaseInsensitive    # true | false | CaseSensitive | CaseInsensitive
IncludeBlocks: Regroup    # Preserve | Merge | Regroup
IncludeIsMainRegex: '([-_](test|unittest))?$'

# Include 카테고리 정의 (정규식 매칭)
IncludeCategories:
  # 1순위: 대응 헤더 (Main이면 Main.h)
  - Regex: '"pch\.h"'
    Priority: 0
    
  - Regex: '^"(Platform_Windows|Renderer_DX9|Core|Engine|Game)/'
    Priority: 1

  # 2순위: 프로젝트 헤더 <>  (의존성 순서대로)
  - Regex: '^<Core/'
    Priority: 2
    SortPriority: 1
  - Regex: '^<Engine/'
    Priority: 2
    SortPriority: 2
  - Regex: '^<(Platform_Windows|Renderer_DX9)/'
    Priority: 2
    SortPriority: 3
    
  # 3순위: 외부 라이브러리
  - Regex: '^<(d3d|DirectX|Windows)'
    Priority: 3
    SortPriority: 3
    
  # 4순위: 표준 라이브러리
  - Regex: '^<.*>'
    Priority: 4
    SortPriority: 4
    
  # 5순위: 나머지 "" include
  - Regex: '.*'
    Priority: 5
    SortPriority: 5

BreakBeforeBraces: Allman
AccessModifierOffset: -4

AlignConsecutiveAssignments: true           # 대입 연산자 정렬 (=)
BreakBeforeBinaryOperators: NonAssignment   # 이항 연산자 정렬 (Align, DontAlign, AlwaysBefore, AlwaysAfter, NonAssignment)
AlignOperands: AlignAfterOperator           # 연산자 정렬 (AlignBeforeOperator, AlignAfterOperator)
AlignConsecutiveDeclarations: true          # 선언문 정렬 (int a)
PointerAlignment: Left                      # 포인터 정렬 (Left, Right)
AlignConsecutiveMacros: AcrossEmptyLines    # 매크로 정렬
AlwaysBreakTemplateDeclarations: No         # 템플릿 선언 줄바꿈 (Never, Always, MultiLine)
AlignTrailingComments:
    Kind: Always                            # 주석 정렬 (Always, Never, Leave)
    OverEmptyLines: 0                       # N개의 빈 줄을 포함하여 정렬

ShortNamespaceLines: 0                      # FixNamespaceComments에서 사용 (0: 모두 허용, 1~: N줄 초과인 경우 허용)
FixNamespaceComments: true                  # 네임스페이스 주석 정렬

AllowShortCaseLabelsOnASingleLine: true     # 한 줄에 짧은 Switch-Case문 허용
AlignConsecutiveShortCaseStatements:        # 짧은 Switch-Case문 정렬 옵션
  Enabled: true                             # 정렬 사용 여부
  AcrossEmptyLines: true                    # 빈 줄을 포함하여 정렬
  AcrossComments: true                      # 주석을 포함하여 정렬
  AlignCaseColons: false                    # case 뒤에 콜론(:) 정렬
AllowShortBlocksOnASingleLine: Empty        # 빈 블록 줄바꿈 (Never, Empty, Always)
AllowShortIfStatementsOnASingleLine: false  # if문 줄바꿈 (Never, Empty, Always)
AlwaysBreakBeforeMultilineStrings: false    # 문자열 리터럴 사용 시 항시 줄바꿈
IndentPPDirectives: BeforeHash              # 전처리기 지시문 들여쓰기 (None, AfterHash, BeforeHash)
NamespaceIndentation: All                   # 네임스페이스 들여쓰기 (All, None, Leave)
#AllowShortEnumsOnASingleLine: true          # 짧은 enum을 한 줄에 표시할지 여부